{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 180,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "bracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore"
}
